nav {
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

    h3 {
        margin: 0;
    }

    ul {
        margin: 0;
        list-style-type: none;

        li {
            padding: 0 20px;
            display: inline;
        }
    }


}